/*
h1{
    color: green;
}
p{
    color: tomato;
    font-size: medium;
}
*/
.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: beige;
    text-align: center;
}
.footer-text{
    color: orange;
    background-color: blueviolet;
    font-family: Monocraft;
    src: url(/fonts/Monocraft.otf);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: aqua;
}
h1, p{
    font-family: Monocraft;
    src: url(fonts/Monocraft.otf);
}