/*
h1{
    color: green;
}
p{
    color: tomato;
    font-size: medium;
}
*/
.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: beige;
    margin-top: 10%;
    
}
.footer-text{
    color: orange;
    background-color: blueviolet;
    font-family: Monocraft;
    src: url(/fonts/Monocraft.otf);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: aqua;
}
h1, p{
    font-family: Monocraft;
    src: url(fonts/Monocraft.otf);
}